<h1>User Details</h1>
{% for userDetail in users %}
    <li>
        <p>ID: {{ userDetail.id }}</p>

        {% if userDetail.userDetails is not null %}    {# without it => Impossible to access an attribute ("rol") on a null variable#}
            <p>Rol: {{ userDetail.userDetails.rol }}</p>
            <p>Varsta: {{ userDetail.userDetails.varsta }}</p>
            <p>Name: {{ userDetail.userDetails.name }}</p>
        {% else %}
            <p>Details: Not available</p>
        {% endif %}
    </li>
{% else %}
    <p>No users found</p>
{% endfor %}

<p><a href="{{ path('app_user_index') }}">Back to users page</a></p>
{# userDetail -> obiect de tip User, user OneToOne cu userDetails (getUserDetails) => User->UserDetails -> rol/varsta#}
