
  <h1>{{ festival.nume }}</h1>

   <p>Start Date: {{ festival.startDate|date('d-m-Y') }}</p>
  <p>End Date: {{ festival.endDate|date('d-m-Y') }}</p>
  <p>Locatie: {{ festival.locatie }}</p>
  <p>Pret: {{ festival.price }}</p>

  <h2>Artists: </h2>

  <ul>
      {% for artist in festivalArtists %}
          <li>{{ artist.getArtist.nume }}</li>
      {% else %}
          <li>There are no artists who sing at this festival</li>
      {% endfor %}
  </ul>


  <form method="delete" action="{{ path('app_festival_delete', {'id': festival.id}) }}">
      <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">Delete</button>
  </form>


  <a href="{{ path('app_festival_index') }}">Back to festivals</a>
