{% block stylesheets %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

{% endblock %}
  <h1>{{ festival.nume }}</h1>

   <p>Start Date: {{ festival.startDate|date('d-m-Y') }}</p>
  <p>End Date: {{ festival.endDate|date('d-m-Y') }}</p>
  <p>Locatie: {{ festival.locatie }}</p>
  <p>Pret: {{ festival.price }}</p>

  <h2>Artists: </h2>

  <ul>
      {% for artist in festivalArtists %}
          <li>{{ artist.getArtist.nume }}</li>
      {% else %}
          <li>There are no artists who sing at this festival</li>
      {% endfor %}
  </ul>


  <form method="get" action="{{ path('app_festival_delete', {'id': festival.id}) }}">
      <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">Delete</button>
  </form>


